<launch>
    <arg name="enable_rc" default="false" />

    <rosparam file="$(find ego_bridge)/config/ego_bridge_param.yaml" command="load"
              ns="ego_bridge" />

    <node pkg="ego_bridge" type="ego_bridge_node" name="ego_bridge" output="screen">
        <remap from="~odom"          to="/mavros/local_position/odom" />
        <remap from="~cmd"           to="/position_cmd" />
    </node>

    <node pkg="ego_bridge" type="rc_commander_node" name="rc_commander" output="screen"
          if="$(arg enable_rc)">
        <remap from="~takeoff_land"   to="/ego_bridge/takeoff_land" />
        <remap from="~emergency_stop" to="/ego_bridge/emergency_stop" />
    </node>

    <!-- <include file="$(find fast_lio)/launch/mapping_velodyne.launch" /> -->

    <include file="$(find lidar_to_mavros)/launch/fastlio_to_px4_mid360.launch" />

</launch>
