<!-- CRAIC known-field mission: EGO for frame/attack-zone goals, ego_bridge override for direct moves,
     QR search, low attack posture, and balloon puncture. -->
<launch>
    <arg name="bridge_ns" default="/ego_bridge" />
    <arg name="flight_z" default="1.0" />
    <arg name="takeoff_height" default="1.0" />
    <arg name="land_after_finish" default="true" />

    <arg name="start_ego_planner" default="true" />
    <arg name="start_ego_bridge" default="true" />
    <arg name="start_cloud_self_filter" default="false" />
    <arg name="start_frame_detector" default="true" />
    <arg name="start_pillar_detector" default="false" />
    <arg name="start_override_task_demo" default="false" />
    <arg name="start_usb_aruco" default="true" />
    <arg name="start_d435_balloon" default="true" />

    <arg name="readable_logs" default="true" />
    <arg name="mission_log_period" default="1.0" />
    <arg name="simple_logs" default="true" />
    <arg name="ego_fsm_verbose" default="false" />
    <arg name="ego_bridge_info_logs" default="false" />
    <arg name="ego_api_verbose" default="false" />
    <arg name="detector_readable_log_period" default="0.0" />
    <arg name="cloud_filter_log_period" default="0.0" />

    <arg name="raw_cloud_topic" default="/cloud_registered" />
    <arg name="cloud_topic" default="/craic/cloud_filtered" />
    <arg name="ego_cloud_topic" default="/cloud_registered" />
    <arg name="odom_topic" default="/mavros/local_position/odom" />

    <arg name="initial_wait_x" default="0.0" />
    <arg name="initial_wait_y" default="-0.85" />
    <arg name="initial_wait_z" default="1.0" />
    <arg name="expected_frame_x" default="3.2" />
    <arg name="expected_frame_y" default="-1.25" />
    <arg name="expected_frame_z" default="1.25" />
    <arg name="frame_center_reject_distance" default="0.55" />
    <arg name="frame_post_x_offset" default="1.1" />
    <arg name="frame_detect_timeout" default="10.0" />
    <arg name="frame_valid_max_age" default="0.8" />
    <arg name="frame_lock_stability_threshold" default="0.12" />
    <arg name="frame_strong_lock_frames" default="3" />
    <arg name="frame_medium_lock_frames" default="4" />
    <arg name="frame_partial_lock_frames" default="5" />
    <arg name="frame_medium_min_wait" default="0.8" />
    <arg name="frame_partial_min_wait" default="2.0" />
    <arg name="frame_lock_history_duration" default="2.0" />

    <arg name="qr_goal_x" default="4.0" />
    <arg name="qr_goal_y" default="0.25" />
    <arg name="qr_goal_z" default="1.3" />
    <arg name="qr_initial_wait" default="1.0" />
    <arg name="qr_search_timeout" default="10.0" />
    <arg name="qr_search_raise_z" default="0.2" />
    <arg name="qr_search_offset" default="0.3" />
    <arg name="qr_search_hold" default="0.35" />

    <arg name="attack_zone_x" default="0.0" />
    <arg name="attack_zone_y" default="-0.8" />
    <arg name="attack_zone_z" default="1.25" />
    <arg name="attack_height" default="0.3" />
    <arg name="balloon_wait_timeout" default="8.0" />
    <arg name="balloon_valid_max_age" default="0.8" />
    <arg name="balloon_standoff" default="0.70" />
    <arg name="balloon_puncture_distance" default="0.20" />
    <arg name="balloon_puncture_speed" default="0.10" />
    <arg name="balloon_approach_timeout" default="8.0" />
    <arg name="balloon_align_timeout" default="6.0" />
    <arg name="balloon_align_lateral_threshold" default="0.06" />
    <arg name="balloon_align_forward_threshold" default="0.08" />
    <arg name="balloon_align_z_threshold" default="0.06" />
    <arg name="balloon_align_hold_time" default="0.35" />
    <arg name="balloon_center_z_bias" default="0.0" />
    <arg name="balloon_align_z_min" default="0.25" />
    <arg name="balloon_align_z_max" default="0.60" />
    <arg name="balloon_needle_length" default="0.18" />
    <arg name="balloon_puncture_extra" default="0.04" />
    <arg name="balloon_servo_timeout" default="8.0" />
    <arg name="balloon_servo_u_threshold" default="0.08" />
    <arg name="balloon_servo_v_threshold" default="0.10" />
    <arg name="balloon_servo_hold_time" default="0.25" />
    <arg name="balloon_servo_lateral_gain" default="0.18" />
    <arg name="balloon_servo_z_gain" default="0.12" />
    <arg name="balloon_servo_max_lateral_speed" default="0.08" />
    <arg name="balloon_servo_max_z_speed" default="0.06" />
    <arg name="balloon_fine_forward_speed" default="0.05" />
    <arg name="balloon_fine_forward_distance" default="0.20" />
    <arg name="balloon_backoff_distance" default="0.12" />
    <arg name="balloon_pop_verify_timeout" default="1.0" />
    <arg name="balloon_pop_area_drop_ratio" default="0.35" />
    <arg name="balloon_pop_verify_roi_scale" default="1.5" />
    <arg name="balloon_pop_verify_roi_min_px" default="120.0" />
    <arg name="balloon_max_retry" default="1" />
    <arg name="balloon_return_home_land_z" default="1.0" />
    <arg name="balloon_servo_topic" default="/balloon/servo" />
    <arg name="balloon_verify_roi_topic" default="/balloon/verify_roi" />
    <arg name="balloon_verify_roi_result_topic" default="/balloon/verify_roi_result" />

    <arg name="override_move_timeout" default="30.0" />
    <arg name="override_pos_threshold" default="0.16" />
    <arg name="override_smooth_speed" default="0.35" />
    <arg name="override_yaw_timeout" default="10.0" />
    <arg name="override_yaw_threshold" default="0.10" />
    <arg name="override_yaw_hold_time" default="0.25" />
    <arg name="override_yaw_rate" default="0.5" />
    <arg name="attack_zone_overrun_x" default="0.0" />
    <arg name="robust_land_enable" default="true" />
    <arg name="robust_land_soft_z" default="0.10" />
    <arg name="robust_land_soft_speed" default="0.08" />
    <arg name="robust_land_z_threshold" default="0.04" />
    <arg name="robust_land_settle_time" default="0.30" />
    <arg name="robust_land_press_z" default="-0.05" />
    <arg name="robust_land_disarm_timeout" default="3.0" />
    <arg name="robust_land_disarm_retry_period" default="0.25" />
    <arg name="robust_land_fallback_bridge_land" default="true" />
    <arg name="px4_land_mode" default="AUTO.LAND" />
    <arg name="px4_land_mode_timeout" default="5.0" />
    <arg name="px4_land_retry_period" default="0.5" />

    <arg name="frame_cloud_topic" default="/cloud_registered" />
    <arg name="frame_goal_frame_id" default="world" />
    <arg name="frame_height_mode" default="auto" />
    <arg name="frame_gate_center_z" default="1.3" />
    <arg name="frame_crossing_z" default="1.3" />
    <arg name="frame_use_detected_center_z" default="true" />
    <arg name="frame_goal_z_follows_center" default="true" />
    <arg name="frame_use_local_rule_roi" default="true" />
    <arg name="field_length" default="6.0" />
    <arg name="field_width" default="5.0" />
    <arg name="frame_gate_search_x_min" default="-0.5" />
    <arg name="frame_gate_search_x_max" default="4.2" />
    <arg name="frame_gate_search_y_min" default="-2.5" />
    <arg name="frame_gate_search_y_max" default="2.5" />
    <arg name="frame_roi_z_min" default="0.15" />
    <arg name="frame_roi_z_max" default="2.20" />
    <arg name="frame_use_fixed_center_roi" default="true" />
    <arg name="frame_fixed_roi_center_x" default="2.70" />
    <arg name="frame_fixed_roi_center_y" default="-1.35" />
    <arg name="frame_fixed_roi_center_z" default="1.30" />
    <arg name="frame_fixed_roi_radius" default="2.65" />
    <arg name="frame_gate_width_expected" default="1.00" />
    <arg name="frame_stable_frames" default="3" />
    <arg name="frame_history_size" default="5" />
    <arg name="frame_stability_threshold" default="0.18" />
    <arg name="frame_debug_log_period" default="1.0" />
    <arg name="frame_debug_top_clusters" default="0" />

    <arg name="usb_camera_ns" default="usb_camera_vision" />
    <arg name="usb_video_device" default="/dev/v4l/by-id/usb-DCX-250107-ZW_DECXIN-video-index0" />
    <arg name="usb_image_width" default="640" />
    <arg name="usb_image_height" default="480" />
    <arg name="usb_framerate" default="30" />
    <arg name="usb_pixel_format" default="yuyv" />
    <arg name="usb_aruco_preprocess_mode" default="gray" />

    <arg name="d435_camera" default="camera" />
    <arg name="d435_initial_reset" default="true" />
    <arg name="d435_color_width" default="640" />
    <arg name="d435_color_height" default="480" />
    <arg name="d435_color_fps" default="30" />
    <arg name="d435_depth_width" default="640" />
    <arg name="d435_depth_height" default="480" />
    <arg name="d435_depth_fps" default="30" />
    <arg name="balloon_rgb_topic" default="/$(arg d435_camera)/color/image_raw" />
    <arg name="balloon_depth_topic" default="/$(arg d435_camera)/aligned_depth_to_color/image_raw" />
    <arg name="balloon_camera_info_topic" default="/$(arg d435_camera)/color/camera_info" />
    <arg name="balloon_camera_body_x" default="0.0" />
    <arg name="balloon_camera_body_y" default="0.0" />
    <arg name="balloon_camera_body_z" default="0.0" />
    <arg name="balloon_allow_near_blob" default="true" />
    <arg name="balloon_near_min_area_ratio" default="0.004" />
    <arg name="balloon_near_min_circularity" default="0.06" />
    <arg name="balloon_near_red_ratio_min" default="0.30" />
    <arg name="balloon_needle_u" default="-1.0" />
    <arg name="balloon_needle_v" default="-1.0" />

    <node pkg="ego_api" type="craic_cloud_self_filter" name="craic_cloud_self_filter" output="screen"
          if="$(arg start_cloud_self_filter)">
        <param name="input_cloud_topic" value="$(arg raw_cloud_topic)" />
        <param name="output_cloud_topic" value="$(arg cloud_topic)" />
        <param name="odom_topic" value="$(arg odom_topic)" />
        <param name="self_radius_xy" value="0.45" />
        <param name="self_radius_z" value="0.45" />
        <param name="min_z" value="0.03" />
        <param name="max_z" value="2.2" />
        <param name="log_period" value="$(arg cloud_filter_log_period)" />
    </node>

    <include file="$(find ego_planner)/launch/single_run_in_exp.launch"
             if="$(arg start_ego_planner)">
        <arg name="cloud_topic" value="$(arg ego_cloud_topic)" />
        <arg name="use_goal_msg_z" value="true" />
        <arg name="fixed_goal_z" value="$(arg flight_z)" />
        <arg name="fsm_verbose" value="$(arg ego_fsm_verbose)" />
    </include>

    <group if="$(arg start_ego_bridge)">
        <rosparam file="$(find ego_bridge)/config/ego_bridge_param.yaml" command="load"
                  ns="ego_bridge" />
        <node pkg="ego_bridge" type="ego_bridge_node" name="ego_bridge" output="screen">
            <param name="takeoff/height" value="$(arg takeoff_height)" />
            <param name="log/info" value="$(arg ego_bridge_info_logs)" />
            <remap from="~odom" to="/mavros/local_position/odom" />
            <remap from="~cmd" to="/position_cmd" />
        </node>
    </group>

    <node pkg="ego_api" type="craic_pillar_detector" name="craic_pillar_detector" output="screen"
          if="$(arg start_pillar_detector)">
        <param name="cloud_topic" value="$(arg raw_cloud_topic)" />
        <param name="odom_topic" value="$(arg odom_topic)" />
        <param name="flight_z" value="$(arg flight_z)" />
        <param name="readable_logs" value="$(arg readable_logs)" />
        <param name="readable_log_period" value="$(arg detector_readable_log_period)" />
    </node>

    <node pkg="ego_api" type="craic_frame_detector" name="craic_frame_detector" output="screen"
          if="$(arg start_frame_detector)">
        <param name="cloud_topic" value="$(arg frame_cloud_topic)" />
        <param name="odom_topic" value="$(arg odom_topic)" />
        <param name="goal_frame_id" value="$(arg frame_goal_frame_id)" />
        <param name="flight_z" value="$(arg flight_z)" />
        <param name="height_mode" value="$(arg frame_height_mode)" />
        <param name="gate_center_z" value="$(arg frame_gate_center_z)" />
        <param name="crossing_z" value="$(arg frame_crossing_z)" />
        <param name="use_detected_center_z" value="$(arg frame_use_detected_center_z)" />
        <param name="goal_z_follows_center" value="$(arg frame_goal_z_follows_center)" />
        <param name="use_local_rule_roi" value="$(arg frame_use_local_rule_roi)" />
        <param name="field_length" value="$(arg field_length)" />
        <param name="field_width" value="$(arg field_width)" />
        <param name="gate_search_x_min" value="$(arg frame_gate_search_x_min)" />
        <param name="gate_search_x_max" value="$(arg frame_gate_search_x_max)" />
        <param name="gate_search_y_min" value="$(arg frame_gate_search_y_min)" />
        <param name="gate_search_y_max" value="$(arg frame_gate_search_y_max)" />
        <param name="roi_z_min" value="$(arg frame_roi_z_min)" />
        <param name="roi_z_max" value="$(arg frame_roi_z_max)" />
        <param name="use_fixed_center_roi" value="$(arg frame_use_fixed_center_roi)" />
        <param name="fixed_roi_center_x" value="$(arg frame_fixed_roi_center_x)" />
        <param name="fixed_roi_center_y" value="$(arg frame_fixed_roi_center_y)" />
        <param name="fixed_roi_center_z" value="$(arg frame_fixed_roi_center_z)" />
        <param name="fixed_roi_radius" value="$(arg frame_fixed_roi_radius)" />
        <param name="gate_width_expected" value="$(arg frame_gate_width_expected)" />
        <param name="stable_frames" value="$(arg frame_stable_frames)" />
        <param name="history_size" value="$(arg frame_history_size)" />
        <param name="stability_threshold" value="$(arg frame_stability_threshold)" />
        <param name="debug_log_period" value="$(arg frame_debug_log_period)" />
        <param name="debug_top_clusters" value="$(arg frame_debug_top_clusters)" />
        <param name="readable_logs" value="$(arg readable_logs)" />
        <param name="readable_log_period" value="$(arg detector_readable_log_period)" />
    </node>

    <include file="$(find usb_camera_vision)/launch/usb_camera.launch"
             if="$(arg start_usb_aruco)">
        <arg name="camera_ns" value="$(arg usb_camera_ns)" />
        <arg name="video_device" value="$(arg usb_video_device)" />
        <arg name="image_width" value="$(arg usb_image_width)" />
        <arg name="image_height" value="$(arg usb_image_height)" />
        <arg name="framerate" value="$(arg usb_framerate)" />
        <arg name="pixel_format" value="$(arg usb_pixel_format)" />
        <arg name="enable_aruco" value="true" />
        <arg name="aruco_preprocess_mode" value="$(arg usb_aruco_preprocess_mode)" />
    </include>

    <include file="$(find usb_camera_vision)/launch/d435_balloon_detector.launch"
             if="$(arg start_d435_balloon)">
        <arg name="camera" value="$(arg d435_camera)" />
        <arg name="initial_reset" value="$(arg d435_initial_reset)" />
        <arg name="color_width" value="$(arg d435_color_width)" />
        <arg name="color_height" value="$(arg d435_color_height)" />
        <arg name="color_fps" value="$(arg d435_color_fps)" />
        <arg name="depth_width" value="$(arg d435_depth_width)" />
        <arg name="depth_height" value="$(arg d435_depth_height)" />
        <arg name="depth_fps" value="$(arg d435_depth_fps)" />
        <arg name="rgb_topic" value="$(arg balloon_rgb_topic)" />
        <arg name="depth_topic" value="$(arg balloon_depth_topic)" />
        <arg name="camera_info_topic" value="$(arg balloon_camera_info_topic)" />
        <arg name="odom_topic" value="$(arg odom_topic)" />
        <arg name="camera_body_x" value="$(arg balloon_camera_body_x)" />
        <arg name="camera_body_y" value="$(arg balloon_camera_body_y)" />
        <arg name="camera_body_z" value="$(arg balloon_camera_body_z)" />
        <arg name="allow_near_blob" value="$(arg balloon_allow_near_blob)" />
        <arg name="near_min_area_ratio" value="$(arg balloon_near_min_area_ratio)" />
        <arg name="near_min_circularity" value="$(arg balloon_near_min_circularity)" />
        <arg name="near_red_ratio_min" value="$(arg balloon_near_red_ratio_min)" />
        <arg name="needle_u" value="$(arg balloon_needle_u)" />
        <arg name="needle_v" value="$(arg balloon_needle_v)" />
    </include>

    <node pkg="ego_api" type="override_task_demo" name="override_task_demo" output="screen"
          if="$(arg start_override_task_demo)">
        <param name="bridge_ns" value="$(arg bridge_ns)" />
        <param name="ego_api_verbose" value="$(arg ego_api_verbose)" />
        <param name="flight_z" value="$(arg flight_z)" />
    </node>

    <node pkg="ego_api" type="craic_competition_demo" name="craic_competition_demo" output="screen">
        <param name="bridge_ns" value="$(arg bridge_ns)" />
        <param name="ego_api_verbose" value="$(arg ego_api_verbose)" />
        <param name="mission_log_period" value="$(arg mission_log_period)" />
        <param name="simple_logs" value="$(arg simple_logs)" />
        <param name="land_after_finish" value="$(arg land_after_finish)" />
        <param name="initial_wait_x" value="$(arg initial_wait_x)" />
        <param name="initial_wait_y" value="$(arg initial_wait_y)" />
        <param name="initial_wait_z" value="$(arg initial_wait_z)" />
        <param name="expected_frame_x" value="$(arg expected_frame_x)" />
        <param name="expected_frame_y" value="$(arg expected_frame_y)" />
        <param name="expected_frame_z" value="$(arg expected_frame_z)" />
        <param name="frame_center_reject_distance" value="$(arg frame_center_reject_distance)" />
        <param name="frame_post_x_offset" value="$(arg frame_post_x_offset)" />
        <param name="frame_detect_timeout" value="$(arg frame_detect_timeout)" />
        <param name="frame_valid_max_age" value="$(arg frame_valid_max_age)" />
        <param name="frame_lock_stability_threshold" value="$(arg frame_lock_stability_threshold)" />
        <param name="frame_strong_lock_frames" value="$(arg frame_strong_lock_frames)" />
        <param name="frame_medium_lock_frames" value="$(arg frame_medium_lock_frames)" />
        <param name="frame_partial_lock_frames" value="$(arg frame_partial_lock_frames)" />
        <param name="frame_medium_min_wait" value="$(arg frame_medium_min_wait)" />
        <param name="frame_partial_min_wait" value="$(arg frame_partial_min_wait)" />
        <param name="frame_lock_history_duration" value="$(arg frame_lock_history_duration)" />
        <param name="qr_goal_x" value="$(arg qr_goal_x)" />
        <param name="qr_goal_y" value="$(arg qr_goal_y)" />
        <param name="qr_goal_z" value="$(arg qr_goal_z)" />
        <param name="qr_initial_wait" value="$(arg qr_initial_wait)" />
        <param name="qr_search_timeout" value="$(arg qr_search_timeout)" />
        <param name="qr_search_raise_z" value="$(arg qr_search_raise_z)" />
        <param name="qr_search_offset" value="$(arg qr_search_offset)" />
        <param name="qr_search_hold" value="$(arg qr_search_hold)" />
        <param name="attack_zone_x" value="$(arg attack_zone_x)" />
        <param name="attack_zone_y" value="$(arg attack_zone_y)" />
        <param name="attack_zone_z" value="$(arg attack_zone_z)" />
        <param name="attack_height" value="$(arg attack_height)" />
        <param name="balloon_wait_timeout" value="$(arg balloon_wait_timeout)" />
        <param name="balloon_valid_max_age" value="$(arg balloon_valid_max_age)" />
        <param name="balloon_standoff" value="$(arg balloon_standoff)" />
        <param name="balloon_puncture_distance" value="$(arg balloon_puncture_distance)" />
        <param name="balloon_puncture_speed" value="$(arg balloon_puncture_speed)" />
        <param name="balloon_approach_timeout" value="$(arg balloon_approach_timeout)" />
        <param name="balloon_align_timeout" value="$(arg balloon_align_timeout)" />
        <param name="balloon_align_lateral_threshold" value="$(arg balloon_align_lateral_threshold)" />
        <param name="balloon_align_forward_threshold" value="$(arg balloon_align_forward_threshold)" />
        <param name="balloon_align_z_threshold" value="$(arg balloon_align_z_threshold)" />
        <param name="balloon_align_hold_time" value="$(arg balloon_align_hold_time)" />
        <param name="balloon_center_z_bias" value="$(arg balloon_center_z_bias)" />
        <param name="balloon_align_z_min" value="$(arg balloon_align_z_min)" />
        <param name="balloon_align_z_max" value="$(arg balloon_align_z_max)" />
        <param name="balloon_needle_length" value="$(arg balloon_needle_length)" />
        <param name="balloon_puncture_extra" value="$(arg balloon_puncture_extra)" />
        <param name="balloon_servo_timeout" value="$(arg balloon_servo_timeout)" />
        <param name="balloon_servo_u_threshold" value="$(arg balloon_servo_u_threshold)" />
        <param name="balloon_servo_v_threshold" value="$(arg balloon_servo_v_threshold)" />
        <param name="balloon_servo_hold_time" value="$(arg balloon_servo_hold_time)" />
        <param name="balloon_servo_lateral_gain" value="$(arg balloon_servo_lateral_gain)" />
        <param name="balloon_servo_z_gain" value="$(arg balloon_servo_z_gain)" />
        <param name="balloon_servo_max_lateral_speed" value="$(arg balloon_servo_max_lateral_speed)" />
        <param name="balloon_servo_max_z_speed" value="$(arg balloon_servo_max_z_speed)" />
        <param name="balloon_fine_forward_speed" value="$(arg balloon_fine_forward_speed)" />
        <param name="balloon_fine_forward_distance" value="$(arg balloon_fine_forward_distance)" />
        <param name="balloon_backoff_distance" value="$(arg balloon_backoff_distance)" />
        <param name="balloon_pop_verify_timeout" value="$(arg balloon_pop_verify_timeout)" />
        <param name="balloon_pop_area_drop_ratio" value="$(arg balloon_pop_area_drop_ratio)" />
        <param name="balloon_pop_verify_roi_scale" value="$(arg balloon_pop_verify_roi_scale)" />
        <param name="balloon_pop_verify_roi_min_px" value="$(arg balloon_pop_verify_roi_min_px)" />
        <param name="balloon_max_retry" value="$(arg balloon_max_retry)" />
        <param name="balloon_return_home_land_z" value="$(arg balloon_return_home_land_z)" />
        <param name="balloon_servo_topic" value="$(arg balloon_servo_topic)" />
        <param name="balloon_verify_roi_topic" value="$(arg balloon_verify_roi_topic)" />
        <param name="balloon_verify_roi_result_topic" value="$(arg balloon_verify_roi_result_topic)" />
        <param name="override_move_timeout" value="$(arg override_move_timeout)" />
        <param name="override_pos_threshold" value="$(arg override_pos_threshold)" />
        <param name="override_smooth_speed" value="$(arg override_smooth_speed)" />
        <param name="override_yaw_timeout" value="$(arg override_yaw_timeout)" />
        <param name="override_yaw_threshold" value="$(arg override_yaw_threshold)" />
        <param name="override_yaw_hold_time" value="$(arg override_yaw_hold_time)" />
        <param name="override_yaw_rate" value="$(arg override_yaw_rate)" />
        <param name="attack_zone_overrun_x" value="$(arg attack_zone_overrun_x)" />
        <param name="robust_land_enable" value="$(arg robust_land_enable)" />
        <param name="robust_land_soft_z" value="$(arg robust_land_soft_z)" />
        <param name="robust_land_soft_speed" value="$(arg robust_land_soft_speed)" />
        <param name="robust_land_z_threshold" value="$(arg robust_land_z_threshold)" />
        <param name="robust_land_settle_time" value="$(arg robust_land_settle_time)" />
        <param name="robust_land_press_z" value="$(arg robust_land_press_z)" />
        <param name="robust_land_disarm_timeout" value="$(arg robust_land_disarm_timeout)" />
        <param name="robust_land_disarm_retry_period" value="$(arg robust_land_disarm_retry_period)" />
        <param name="robust_land_fallback_bridge_land" value="$(arg robust_land_fallback_bridge_land)" />
        <param name="px4_land_mode" value="$(arg px4_land_mode)" />
        <param name="px4_land_mode_timeout" value="$(arg px4_land_mode_timeout)" />
        <param name="px4_land_retry_period" value="$(arg px4_land_retry_period)" />
    </node>
</launch>
